services:
	- App\Core\RouterFactory::createRouter
	- App\Core\Authenticator

	security.passwords: Nette\Security\Passwords(::PASSWORD_ARGON2ID)
	nette.latteFactory:
	    setup:
	        - addFilter('resize', App\Latte\ResizeFilter())
