<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	{ifset title}
		<title>{include title}</title>
		<meta property="og:title" content="{include title}" />
	{/ifset}
	{ifset metaUrl}
		<meta property="og:url" content="{include metaUrl}" />
	{/ifset}
	{ifset metaImage}
		<meta property="og:image" content="{include metaImage}" />
	{/ifset}

	{php $vite = new App\Facades\ViteFacade();}
	{php echo $vite->getTags()}

	<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
</head>

<body>
	{snippet flashes}
		{include './TemplateComponents/flashes.latte'}
	{/snippet}

	{include content}

	<dialog id="modal-1" class="modal micromodal-slide" aria-hidden="true">
		<div class="modal__overlay" tabindex="-2" data-dialog-close>
			<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
				<header class="modal__header">
					<h2 class="modal__title" id="modal-1-title">
						Modal Title
					</h2>

					<button class="modal__close" data-dialog-close></button>
				</header>

				<div class="modal__content" id="modal-1-content">
					<p>This is content of the modal</p>
					<p>Sample paragraph.</p>
				</div>
			</div>
		</div>
	</dialog>
</body>
</html>
